<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpi4gzkaXefkrILEpM9zTw_py11isjqNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>533836159104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sjm</string>
	<key>PROJECT_ID</key>
	<string>sjm-app-c60ff</string>
	<key>STORAGE_BUCKET</key>
	<string>sjm-app-c60ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533836159104:ios:d48def7d95a190a8772e65</string>
</dict>
</plist>